# Environment
NODE_ENV=development
PYTHON_ENV=development

# Ports
FRONTEND_PORT=3000
BACKEND_PORT=8000

# URLs
API_URL=http://localhost:8000

# Development Settings
WATCHPACK_POLLING=true
DEV_MOUNT=

# Set DEV_MOUNT to empty string to disable volume mounts in production
# DEV_MOUNT=' ' 