# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_S3_ENDPOINT_URL=your_aws_s3_endpoint_url_here
AWS_S3_BUCKET_NAME=your_aws_s3_bucket_name_here

# Langchain
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_TRACING_V2=True

# OpenAI 
OPENAI_API_KEY=your_openai_api_key_here

# GraphDB
GRAPHDB_URL=https://graphdb-dev-wildfire-kg.nrp-nautilus.io/
GRAPHDB_REPOSITORY=wildfire-kg
GRAPHDB_USERNAME=your_graphdb_username_here
GRAPHDB_PASSWORD=your_graphdb_password_here

# Tavily
TAVILY_API_KEY=your_tavily_api_key_here

# Debug
DEBUG=False
LOG_LEVEL=INFO

# Streamlit
LANGGRAPH_ASSISTANT_ID=your_assistant_id_here
LANGGRAPH_STUDIO_URL=http://127.0.0.1:2024
LANGGRAPH_STUDIO_UI_URL=https://smith.langchain.com/studio/?baseUrl=http://127.0.0.1:2024

# Weather API
WEATHER_API_KEY=your_weather_api_key_here
